/* barra de cima */
nav{
    background-color: rgba(2, 9, 85, 0.68);
    padding: 3px ;
    margin: 0;
}

nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:end;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: rgb(205, 216, 225);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color:black;
}

/* dropdown */

nav ul li .dropdown-content {
    display: none; /* Esconde o submenu inicialmente */
    position: absolute; /* Posiciona o submenu em relação ao item pai */
    background-color: #333;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* Garante que o submenu fique acima de outros elementos */
    min-width: 160px;
    padding: 0;
}

nav ul li .dropdown-content li {
    margin: 0;
}

nav ul li .dropdown-content li a {
    padding: 10px 15px;
}

nav ul li .dropdown-content li a:hover {
    background-color: #575757; /* Cor de fundo ao passar o mouse sobre o submenu */
}

/* Exibe o submenu ao passar o mouse sobre o item principal */
nav ul li:hover .dropdown-content {
    display: block;
}

/* banner */
.slider {
    width: 300%; 
    max-width: 620px;
    margin: 0 auto; 
    overflow:0 auto; 
    position: relative;
}

.slides {
    display: flex; 
    width: 100%; 
    animation: slideAnimation 30s infinite;
}

.slide {
    flex-shrink: 0; 
}

@keyframes slideAnimation {
    0% { transform: translateX(0); } 
    33% { transform: translateX(-100%); } 
    66% { transform: translateX(-200%); } 
    100% { transform: translateX(0); }
}

.slide img {
    width: 100%;
    display:block;
}

.container {
    display: flex; 
    gap: 20px; 
    flex-wrap: wrap;
}

/* cardis */
.card {
    background-color: rgb(171, 188, 239);
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
    flex: 1;
    max-width: 400px;  
}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #000000;
}

.card p {
    color: #000636;
}

/* login */
.container-login {
    width: 100%;
    margin: 0 auto;

    background-color: rgb(171, 188, 239);
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);   
    flex: 1;
    max-width: 300px;  
}

.container-login h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* roda pé */
footer{
    background-color:rgba(2, 9, 85, 0.68); 
    color: rgb(205, 216, 225);
    padding: 35px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    max-width: 1300px;
    margin: 2px;
    padding: 0 20px;
}

.footer-section h4{
    margin-bottom: 15px;
    font-size: 17px;
    color: rgb(198, 207, 237);
}

.footer-section p, .footer-section ul{
    margin: 25px;
    padding: 0;
    line-height: 1.5;  
}

.footer-section ul {
    list-style-type:none; 
}

