/* barra de cima */
nav{
    background-color: rgba(107, 46, 8, 0.637);
    padding: 3px ;
    margin: 0;
}

nav ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:end;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    color: rgb(241, 235, 235);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color:black;
}

/* compra*/

main {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(107, 46, 8, 0.637);
}

table {
    width: 100%;
    border-collapse:collapse ;
    margin-bottom: 20px;
}

thead {
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(66, 1, 1);
}

th {
background-color: rgba(93, 44, 3);
font-weight: bold;
}

input.quantidade {
width: 50px;
padding: 5px;
text-align: center;
}

button.remover-produto{
color: rgb(255, 255, 255);
border: none;
padding: 10px;
border-radius:5px ;
cursor: pointer;
background-color: #291d1d;
}

.total-final { 
text-align: right;
margin-top: 20px;
}

.total-final h3 {
    color: #000000dd;
}

#total-final {
    color: rgb(196, 4, 4);
}

button.remover-produto:hover {
    background-color:rgb(196, 4, 4);
}
  

/* roda pé */
footer{
    background-color:rgba(107, 46, 8, 0.637); 
    color: rgb(241, 235, 235);
    padding: 35px 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.footer-container{
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    max-width: 1300px;
    margin: 2px;
    padding: 0 20px;
}

.footer-section h4{
    margin-bottom: 15px;
    font-size: 17px;
    color: rgb(241, 235, 235);
}

.footer-section p, .footer-section ul{
    margin: 25px;
    padding: 0;
    line-height: 1.5;  
}

.footer-section ul {
    list-style-type:none; 
}